#header {
    background: #44accf;
    display: block;
    padding: 80px 0 85px;
    /* padding-bottom: 60px; */
}

#about {
    padding-bottom: 60px;
    font-size: 1.1rem;
}

#features {
    background: cadetblue;
    display: block;
    padding-bottom: 60px;
    font-size: 1.1rem;
}

#slackButton {
    height: 75px;
    width: 250px;
    border: none;
    /* background: none; */
    cursor: pointer;
}


#slackButton:hover svg {
    /* transform: rotate(45deg); */
    transform: scale(1.2) rotate(20deg);
}

#slackButton:hover {
    /* transform: rotate(45deg); */
    transform: scale(0.98);
}

#slackButton::-moz-focus-inner {
    border: 0;
}

#slackButton svg {
    outline: none;
    transition: transform 0.3s linear;
    height: 50px;
}


#use {
    padding-bottom: 60px;
    font-size: 1.1rem;
}

#footer {
    background: #2b4251;
    font-size: 15px;
    padding: 15px;
}


.bot {
    float: inline-end;
}

.header-text {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.img-card {
    padding: 60px;
}


.mycard {
    margin: 20px;
    background: #334c5b;
    box-sizing: border-box;
}

.mycard-p {
    background: beige;
}

.menu-link {
    color: orange !important;
}

.use-btn {
    margin: 50px 50px;
    background: #2b4251
}


h1 {
    padding: 10px;
    color: rgb(40, 42, 44);
}

hr {
    /* display: block; */
    width: 15em;
    margin-top: 0.1em;
    padding-bottom: 1em;
    overflow: hidden;
    border-bottom: aquamarine;
    border-width: 0.2em;
    border-color: aquamarine;
}

span {
    color: rgb(40, 42, 44);
}

li {
    font-size: 18px;
}

nav {
    background: #2b4251;
    color: coral;
}

pre {
    color: darkgray;
}

pre a {
    color: darkgray;
}