#header {
    background: #44accf;
    display: block;
    padding: 80px 0 85px;
    /* padding-bottom: 60px; */
}

#about {
    padding-bottom: 60px;
}

#features {
    background: lightseagreen;
    display: block;
    padding-bottom: 60px;
}

#use {
    padding-bottom: 60px;
}

#footer {
    background: gray;
}


.bot {
    float: inline-end;
}

.header-text {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.img-card {
    padding: 60px;
}


.mycard {
    margin: 20px;
    background: #334c5b;
    box-sizing: border-box;
}

.mycard-p {
    background: beige;
}


h1 {
    padding: 10px;
}

li {
    font-size: 18px;
}

nav {
    background: #2b4251;
    color: coral;
}