#header {
    background: #44accf;
    display: block;
}

#features {
    background: lightseagreen;
}


#footer {
    background: gray;
}

#features {
    display: block;
}

.bot {
    float: inline-end;
}

.mycard {
    margin: 20px;
    background: #334c5b;
}

.mycard-body {
    background: beige;
}

li {
    font-size: 18px;
}

nav {
    background: #2b4251;
    color: coral;
}